<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd MMM HH:mm:ss.SSS} [%thread] %-5level %logger{10}:%-3line - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="fileout" class="ch.qos.logback.core.FileAppender">
    <file>/var/log/data-generator/data-generator-filer-${bySecond}.txt</file>
    <encoder>
      <pattern>%d{dd MMM HH:mm:ss.SSS} [%thread] %-5level %logger{10}:%-3line - %msg%n
      </pattern>
    </encoder>
  </appender>

  <!-- only want ERRORs from these packages -->
  <logger name="ch.qos.logback" level="D"/>
  <logger name="com.mchange" level="ERROR"/>
  <logger name="com.datastax" level="ERROR"/>

  <!-- enable TRACE logging for Endeavour code -->
  <logger name="org.endeavourhealth" level="TRACE"/>

  <!-- only log to stdout with INFO level -->
  <root level="INFO">
    <appender-ref ref="stdout" />
    <appender-ref ref="fileout" />
  </root>

</configuration>